. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body{
    overflow-x: hidden;
    max-width: 100%;
}
section{
    padding: 100px 200px;
    
}

.btn {
    color: #fff;
    background: #3a6cf4;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.5s ease;
}
/* Header */

header {
    color: white;
    background-color: black;
    width: 100%;
    padding: 15px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    overflow: hidden;
}

header .nav ul {
    display: flex;
}

header .nav ul li {
    list-style: none;
    padding: 10px;
}

header .nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* header ends */

/* Main */
.Main {
    /* color: white; */
    position: relative;
    width: 78%;
    min-height: 100%;
    display: flex;
    align-items: center;
    background: url(Images/415519.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    
}

.Main .content {
max-width: 800px;

}

.Main .content h2 {
    color: rgb(12, 2, 2);
font-size: 40px;
font-weight: 500;
margin-left: -170px;
}

.Main .content h2 span {
    font-size: 40px;
    font-weight: 600;
}

.Main .content .animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
    margin-left: -170px;

}

.Main .content .animated-text h3 {
    color: fuchsia;
    font-size: 3em; 
    /* em = px check online for conversion rate */
    line-height: 70px;
    font-weight: 700;
    letter-spacing: 1px;
} 

.Main .content .animated-text h3:nth-child(1){
    animation: move 10s infinite;
} 


@keyframes move {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: -135px;
    }

    50% {
        margin-top: -250px;
    }

    75% {
        margin-top: -135;
    }

    100% {
        margin-top: 0px;
    }
}
 


.Main .content .btn {
    color: #fff;
    background: #144ff1;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 30px;
    transition: 0.5 ease;
    margin-left: -170px;
}

.btn:hover {
    background-color: rgb(187, 131, 26);
    color: #fff;
    transition: 1s ease;

}

.Main .content .media-icon{
    margin-top: 10px;

}

.Main .content .media-icon a {
    color: rgb(14, 13, 13);
    font-size: 25px;
    margin-left: -55px;
    
}

.Title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    position: relative;
    color: mediumblue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;

}

.section-title:before {
    content: '';
    position: absolute;
    top: 56px;
    left: 50%; 
    width: 200px;
    height: 4px;
    background: mediumblue;
    transform: translateX(-50%);
}

.section-title::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: mediumblue;
    transform: translateX(-50%);

}

/* About */

.about .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .content .col-right {
    position: relative;
    width: 100%;
}

.about .content .col-left .card {
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .card .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10%;
    
}

.about .content .col-right .content-title {
    color: #000;
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.about .content .col-right .para-text {
    font-size: 1em;
    width: 100%;
    object-fit: cover;
}

/* Skill */

.skills {
    background: black;

}

.skills .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}

.skills .content .col-left  {
    position: relative;
    width: 46%;

}

.skills .content .col-left .content-title {
    margin-bottom: 20px;
}

.skills .content .col-left p {
    text-align: justify;
    font-size: 1em;

}

.skills .content .col-right {
    position: relative;
    width: 46%
}

.skills .content .col-right .bar {
    margin-bottom: 10px;
    padding: 10px;
}

.skills .content .col-right .bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .bar .info span {
    font-size: 20px;
    font-weight: 500;
}

.skills .content .col-right .bar .line {
    position: relative;
    width: 100%;
    height: 5px;
    background: #999;
    border-radius: 2px;
}

.skills .content .col-right .bar .line::before {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.skills .content .col-right .bar .html::before {
    width: 95%;
    background: red;
}

.skills .content .col-right .bar .css::before {
    width: 80%;
    background: blue;
}

.skills .content .col-right .bar .javascript::before {
    width: 75%;
    background: yellow;
}

/* Services */

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    
}

.services .Title p {
    font-size: 1em;
    width: 60%;

}

.services .content .card {
    background: #fff;
    width: 340px;
    margin: 10px;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(1, 1, 1, 30%);

}

.services .content .card .service-icon {
    color: #3a6cf4;
    font-size: 50px;
    text-align: center;
    transition: transform 0.5s ease;
}

.services .content .card:hover .service-icon{
transform: translateY(-10px);
}

.services .content .card .info {
    text-align: center;
}

.services .content .card .info h3 {
    color: #3a6cf4;
    font-size: 1.5em;
    font-weight: 700;
}

/* Projects */

.project {
    background: rgb(8, 8, 8);
}

.project .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.project .content .card {
    width: 340px;
    margin: 15px;
}

.project .content .card .card-img {
    position: relative;
    width:100%;
    height: 260px;
    overflow: hidden;
}

.project .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
    border-radius:10px;
    transition: 0.5s ease;

}

.project .content .card .card-img img:hover{
    transition: 2s ease-in-out;
    transform: scale(1.2);
}

.project .writeup{
    color: #fff;
    font-size: 25px;
}

/* Contact */

.contact .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.contact .content .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact .content .row .card {
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(1, 1, 1, 30%);
    border-radius: 20px;
}

.contact .content .row .card .contact-icon {
    color: #3a6cf4;
    font-size: 2em;
    text-align: center;
    transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon{
transform: translateY(-10px);
}


.contact .content .row .card .info {
    text-align: center;

}

.contact .content .row .card .info h3 {
    color: #000;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}

.contact .content .row .card .info span{
    color: #666;
    font-weight: 500;
}

.contact-form {
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(1, 1, 1, 30%);
}

.contact-form h3 {
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    color: #111;
    width: 100%;
    padding: 10px;
    font-size:1em;
    font-weight: 400;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;

}

.contact-form .input-box .send-btn {
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #666;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-title {
    font-weight: 1000;
    font-style: oblique;
}
